body {
    background-color: lightblue;
}

/* HEADER */
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .headerLogo {
    font-size: 16px;
    color: blue;
    border: 1px black solid;
    padding: 10px;
    border-radius: 50%;
  }

  .hamburgermeny {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: none;
    
}

@media (min-width: 480px) {
    .hamburgermeny {
        display: block;
    }

    .aktiveringsknapp {
        display: none;
    }
    
}
  
  /* MAIN */
  section {

  }
  
  .heroSection {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
  }
  
  .heroImg {
    background-color: #1D7874; /* Placeholder for bilde */
    width: 50%;
  }
  
  .heroText {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .heroButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
  }
  
  .heroButtons button {
    background-color: #1D7874;
  }
  
  /* Trenger transition for smooth overgang * background-color: #679289;*/
  .heroButtons:hover {
    background-color: #679289;
    transition-duration: 1s;
  }
  
  /* FOOTER */
  footer {
    display: flex;
    align-items: left;
    justify-content: left;
    font-family: "Inter", sans-serif;
  }
  
  /* menu.html */

.meny {

}

  .beefCardContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-content: center;
    gap: 10px;
    background-color: grey;
  }

  .recipe {
    background-color: #f0f0f0; 
    border: 1px solid black;    
    padding: 20px;    /* indre mellomrom */
    text-align: center;        
    font-size: 16px; 
    text-transform: uppercase;         
  }
  
